.edit {
    padding: 20px 40px 40px;
}

.back {
    color: white;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.img {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.public {
    text-align: center;
    color: #00c000;
}

.private {
    text-align: center;
    color: #de2c43;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 32px;
    background-color: #2A2E33;
}

.card-account {
    display: flex;
    flex-direction: row;
    width: 60%;
    
}

.card-form {
    background-color: #252A3c;
    width: 35%;
    margin-right: 2%;
}

.card-left {
    width: 50%;
}

.card-right {
    width: 50%;
}

.sub-details {
    padding: 32px 32px 16px 32px;
}

.sub-details h2 {
    text-align: center;
}

.title {
    color: grey;
    text-align: center;
}

.make-bold {
    font-weight: bold;
}

.line {
    position: relative;
}

.line:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 1px solid #cfc7c0;
    top: 5%;
    bottom: 5%;
}

.notifications {
    font-size: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-btn {
    background-color: #14181D;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 16px;
    margin: 20px 0 0;
    color: white;
    border: solid 1px white;
    transition: all 0.25s ease-in;
    transition: all 0.125s ease-out;

    align-self: flex-start;
    width: 100%;
    max-width: 425px;
}

.form-btn:hover {
    background: #25292E;
}

.form-btn:focus {
    background: #363A3F;
}