* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #ffffff;
    position: relative;
    min-height: 100%;
}

body {
    background-color: #222831;
}

body, html {
    height: 100%;
}