/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Leelawadee;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
}

body, html {
    
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    padding-left: 20px;
}

.sidenav {
    background-color: #14181D;
    width: 250px;
    height: 250px;
    position: fixed;
    top: 74px;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 20px;
}

.sidenav a:hover {
    background-color: #0E1014;
}

.sidenav-selected {
    background-color: #0E1014;
}

.logout a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}