a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-t {
    border-top: 1px solid black;
}

.border-b {
    border-bottom: 1px solid black;
}

.border-r {
    border-right: 1px solid black;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.nav-bg {
    background-color: #0E1014;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

main {
    margin-top: 73px;
    margin-left: 250px;
}
