@model PanGainsWebApp.Models.Exercise
@{
    ViewData["Title"] = "Exercises";

}

<div class="text-white delete">

    <div class="mb-3">
        <a style="color: white; text-decoration: none; font-weight: bold" asp-area="" asp-controller="Exercises" asp-action="Index">&lt; Back</a>
    </div>

    <div class="card-delete">

        <p class="text-delete">Are you sure you want to delete <strong>@Model.ExerciseName</strong> from exercises?</p>

        <form asp-action="Delete" autocomplete="off">
            <input type="hidden" asp-for="ExerciseID" />
            <input type="submit" value="Delete" class="button-delete" />
        </form>
    </div>
</div>
