@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Accounts";
}

<div class="text-white">
    @foreach (var item in Model.AccountModel)
    {
        <p>@item.Firstname @item.Lastname: @item.AverageChallengePos</p>
    }
</div>
