@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Accounts";
}

<div class="text-white">
    @foreach (var item in Model.SetModel)
    {
        <p>@Html.DisplayFor(modelItem => item.SetID)</p>
    }
</div>
