@{
    Layout = Layout = "_LayoutLogin";;
    ViewData["Title"] = "Login";
}

<div class="bg">
    <div class="text-center logo">
        <img class="img-fluid" src="/img/login/Logo.png" />
    </div>
    <div class="text-center">
        <form autocomplete="off">
            
            <button class="btn" type="submit">Log In</button>
        </form>
    </div>
</div>