@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

<div class="bg">
    <div class="logo">
        <img class="img-fluid" src="/img/login/LoginLogo.png" />
    </div>
    <div class="text-center">
        <form asp-controller="Login" asp-action="Index" autocomplete="off">
            <div class="form col g-0">
                <div class="center-block col pb-5">
                    <label for="Username" class="text-start">Username</label>
                    <input type="text" class="center-block" id="Username" name="Username" required>
                </div>
                <div class="col">
                    <label for="Password" class="text-start">Password</label>
                    <input type="password" class="center-block" id="Password" name="Password" required>
                </div>
            </div>
            <button class="btn" type="submit">Log In</button>
        </form>
    </div>
</div>