@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="para align-items-space-around">
    @foreach (var item in Model.AccountModel)
    {
        <p>@Html.DisplayFor(modelItem => item.Firstname)</p>
    }
</div>
