@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="outside-padding10">


    <form asp-action="Index">
        <input type="hidden" />
        <input type="submit" value="Deleto" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

    <div class="text-white">
        @foreach (var item in Model.SetModel)
        {
            <p>@Html.DisplayFor(modelItem => item.SetID)</p>
        }
    </div>


</div>

