@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-white dashboard">
    <div class="row-top">
        <div class="card card-account">
            <div class="card-left">
                
            </div>

            <div class="card-right">

            </div>
        </div>

        <div class="card card-stats">
            
        </div>
    </div>
</div>
