@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-white dashboard">
    <div class="cards">
        <div class="card-top">
            <div class="box">

            </div>
            <div class="icon-case">

            </div>
        </div>
    </div>
    <div class="content-2"></div>
</div>
