@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1>@Model.AccountModel[0].Firstname</h1>
</div>*@


<div class="text-center">
    @foreach (var item in Model.FolderModel)
    {
        <p>@Html.DisplayFor(modelItem => item.FolderName)</p>
    }
</div>